body, html {
  height: 100%;
  margin: 0;
  font-family: JeJuGothic;
}
.container {
    display: flex;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.left {
    left: 0;
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
}

.right {
    right: 0;
    background-color: #004d40;
    color: white;
    display: grid;
    place-items: center;
}

.login-container {
    text-align: center;
    width: 80%;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.login-title h1 {
    font-size: 2rem;
    margin: 0 0 0.5rem;
    color: white;
    font-weight: bold;
}

.login-title p {
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
    line-height: 1.5;
}

input[type=text], input[type=password] {
    width: calc(100% - 40px);
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1rem;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: white;
    opacity: 1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: transparent;
    color: white;
    outline: none;
}

.btn {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Mengubah lebar tombol menjadi 100% */
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.forgot {
    color: grey;
    text-decoration: none;
    margin-top: 10px; /* Menambahkan margin atas */
}

.forgot:hover {
    text-decoration: underline;
}